{% extends '_layout.html' %}
{% block title %}Categorias{% endblock %}
{% block tituloCard %}Nova categoria:{% endblock %}

{% block content %}
{% load static %}

<br>
<div class="centralizarDentroDiv">
    <form method="post">
        {% csrf_token %}
        <div>
            <label>Nome categoria:</label>
            <input type="text" name="nomeCategoria" class="form-control form-control-lg" value="{{ categoriaParaEditar.0 }}">
        </div>

        <br>

        <div>
            <label>Perguntas:</label>
            <select class="duallistbox" multiple="multiple" name="SelPerguntas">
                {% for per in listaPerguntas %}
                    <option>{{ per }}</option>
                {% endfor %}
            </select>
        </div>

        <center>
            <button type="submit" name="cadastrarCategoria" class="btn btn-primary">Cadastrar</button>
        </center>
    </form>
</div>

<br>

<script src="{% static 'js/categorias.js' %}"></script>
{% endblock %}