.teste{
    color: red;
}

.centralizarDentroDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ajusteTabela{
    display: flex;
    justify-content: center;
}

.colunaModificar{
    min-width:112px;
}

.divLadoLado{
    display: inline-block;
    vertical-align: bottom;
}